<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galaxybruce.main">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.galaxybruce.splash.ui.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
