<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galaxybruce.main" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <meta-data
            android:name="com.galaxybruce.component.interface.${MODULE_NAME}"
            android:value="com.galaxybruce.main.register.MainRegister"/>

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${build_appScheme}" />
            </intent-filter>
        </activity>


        <activity android:name="com.galaxybruce.main.ui.activity.NetTestActivity"/>
    </application>

</manifest>
