<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galaxybruce.main" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name="com.galaxybruce.main.ui.activity.NetTestActivity"/>
    </application>

</manifest>
