<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galaxybruce.component" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="MediaStore.Images.Media.INTERNAL_CONTENT_URI" />
    <uses-permission android:name="MediaStore.Images.Media.EXTERNAL_CONTENT_URI" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application>
        <provider
            android:name=".util.AppFileProvider"
            android:authorities="${applicationId}.galaxybruce.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:multiprocess="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_provider_paths" />
        </provider>

        <provider
            android:name=".util.crosssp.KWCrossProcessSPContentProvider"
            android:authorities="${applicationId}.sphelper"
            android:exported="false"
            android:initOrder="1000000" />

        <activity
            android:name="com.galaxybruce.component.app.crash.ExceptionActivity"
            android:theme="@style/Theme_Window_Transparent"
            android:configChanges="orientation|navigation|keyboardHidden|keyboard" />

        <activity
            android:name="com.galaxybruce.component.util.AppUtilsTransActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

    </application>

</manifest>
