<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galaxybruce.sample" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <meta-data
            android:name="com.galaxybruce.component.interface.${MODULE_NAME}"
            android:value="com.galaxybruce.sample.interface_register.SampleCCRegister"/>

    </application>

</manifest>
